<!-- login.html -->
{% extends "base.html" %}

{% block content %}
<div class="form-container">
  <div class="form-box">
    <h2 class="form-title" style="text-align: center;">🙋‍♀️ Kate Academy Login</h2>
    <div id="error-message" class="form-error" style="display: none;"></div>
    <form action="{{ url_for('login') }}" method="POST" onsubmit="return validateLoginForm();">
      <div class="form-field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <button class="form-submit-button" type="submit">Login</button>
    </form>
    <div class="register-link" style="text-align: center;">
      <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
  </div>
</div>
{% endblock %}

